.root {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 3%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  
  .productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .checkoutButtonContainer {
    display: block;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .checkoutLink {
      width: 40%;
      border-radius: 0.4em;
      text-decoration: none;
      cursor: pointer;
      .checkoutButton {
        width: 100%;
        background-color: #008CBA;
        cursor: pointer;
        span {
          margin-left: 1em;
        }
      }
    }
  }
}

.root2 {
  display: flex;
  justify-content: center;
  align-items: center;
  .bigIcon {
    font-size: 82px;
    color: lightgray;
  }
  .productListEmpty {
    animation: loading-spin infinite 1.5s ease-in-out;
  }
}

@keyframes loading-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
